.container-3
{
    border: 2px solid black;
    text-align: center;
    margin: 0 auto;
    width: 75%;
}
.flex-box-rps
{
    border: 2px solid black;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}